.vuw-mask-enter, .vuw-mask-leave-active {
  opacity : 0
}
.vuw-mask-leave-active, .vuw-mask-enter-active {
  transition: opacity 300ms;
}
  
.vuw-fade-enter-active,.vuw-fade-leave-active {
  opacity: 1;
  transition: opacity linear 0.2s;
}

.vuw-fade-enter, .vuw-fade-leave-to {
  opacity: 0;
}