@import "../../base/fn";

.wui-textarea-con {
  display flex
  padding 20px 0
  text-align left
}

.wui-textarea-box {
  border 1px solid #ccc
  display flex
  align-items center
  width 580px
  height 160px
  padding 10px
  box-sizing border-box
  flex-direction column
  position relative
}

.wui-textarea-box-error {
  border 1px solid #dd5050
  color #dd5050
}

.wui-textarea-error {
  position absolute
  top 160px
  left 0
}

.wui-textarea {
  resize none
  width 100%
  flex 1
  outline none
  border none
  padding 0
  font-size 16px
}
.wui-textarea-tips {
  width 100%
  padding 10px
  text-align right
}

.wui-textarea-tips-label {
  color #a0a0a0
}

.wui-textarea-max-string {
  color #3598db
}

.wui-textarea-max-number {
  color #e74c3c
  font-style normal
}