@import "../../base/fn";
.wui-confirm-hd {
  width 100%
  color $wuiConfirmHdColor
  height 50px
  box-sizing border-box
  line-height 50px
  border-bottom 1px solid $wuiConfirmHdborderBootmColor
  position relative

}

.wui-confirm-colseBtn {
  position absolute
  cursor pointer
  background transparent
  top 15px
  right 15px
  height 20px
  width 28px
  padding 0
  margin 0
  line-height 20px
}

.wui-confirm-bd {
  font-size 16px
  padding 10px 0
}

.wui-confirm-bd-text {
  padding 0 50px
}

.wui-confirm-title {
  font-size 18px
}
.wui-confirm-bd-icon-con {
  padding 40px 0
}

.wui-confirm-bd-icon {
  color red
  font-size 60px !important
}

.wui-confirm-ft {
  padding 35px 50px
  display flex
  justify-content center
}
.wui-confirm-btn {
  width 160px
  height 40px
  line-height 40px
  border solid $wuiConfirmBtnborderColor 1px
  color $wuiConfirmBtnColor
  background transparent
  margin 0 10px
  border-radius 4px
  cursor pointer
  box-sizing border-box
}

.wui-confirm-btn:hover {
  color $wuiConfirmBtnColor_hover
  background $wuiConfirmBtnbgColor_hover
}