.wui-dialog {
  position fixed
  z-index 5000
  padding-bottom 50px
  max-width 540px
  min-width 300px
  top 50%
  left 50%
  transform translate(-50%, -50%)
  
  background-color $wuiDialogBackgroundColor
  text-align center
  border-radius 4px
  overflow hidden
  box-shadow: 0 0 7px 4px $wuiDialogBSColor,
    -0px -0px 7px 4px $wuiDialogBSColor;
}