.wui-label-icon {
  display inline-block
  color #ee5050
  line-height 10px
  font-size 20px
  transform translateY(6px)
  margin-right 5px
}

.wui-label {
  display inline-block
  width 150px
  text-align right
  padding 0 10px
  font-weight bold
  font-size 16px
}