@import "../../base/fn";
.wui-button {
  background transparent
  color $wuiButtonColor
  border 1px solid $wuiButtonBorderColor
  display inline-block
  padding 0 10px
  border-radius 4px
  cursor pointer
  font-size 16px
}

.wui-button:hover {
  color $wuiButtonColor-hover
  background  $wuiButtonBgColor-hover
}