@import "../../base/fn";
.wui-input-com {
  display flex
  align-items center
  padding 15px 0
  font-size 14px
}

.wui-input-box {
  border 1px solid $wuiInputBoxBorderTipColor
  display flex
  align-items center
  box-sizing border-box
  height 40px
  position relative
}

.wui-input-box-error {
  border 1px solid #dd5050
  color #dd5050
  }

.wui-input-error {
  position absolute
  top 40px
  font-size 12px
}

.wui-input {
  display inline-block
  padding 0 10px
  border none
  outline none
  font-size 14px
  width 100%
  height 100%
}

.wui-input-tips {
  color $wuiInputTipColor
  padding 0 17px
}