// mask
$wuiMaskBgColor =  rgba(0,0,0, 0);

//dialog
$wuiDialogBSColor = rgba(0,0,0,.1);
$wuiDialogBackgroundColor = #FFFFFF;
$wuiDialogLineColor = #D5D5D6;
$wuiDialogLinkColor = #3CC51F;
$wuiDialogLinkActiveBc = #EEEEEE;
$wuiDialogGapWidth = 1.6em;

// confirm
$wuiConfirmHdColor = #ee5050;
$wuiConfirmHdborderBootmColor = #f4f4f4;
$wuiConfirmBtnborderColor = #ee5050;
$wuiConfirmBtnColor = #ee5050;
$wuiConfirmBtnColor_hover = #fff;
$wuiConfirmBtnbgColor_hover = #ee5050;

// button
$wuiButtonColor = #ee5050;
$wuiButtonBorderColor = #ee5050;
$wuiButtonColor-hover = #fff;
$wuiButtonBgColor-hover = #ee5050;
// input
$wuiInputTipColor = #ccc;
$wuiInputBoxBorderTipColor = #ccc;